<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fdesousa.android.WheresMyTrain"
    android:versionCode="19"
    android:versionName="0.8" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-library android:name="com.fdesousa.google.gson.Gson" />
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
<!-- Main Activity-related entries -->
        <!-- The main activity for this application -->
        <activity
            android:label="@string/app_name"
            android:name=".WheresMyTrain"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!-- End of Main Activity-related entries -->

<!-- Widget-related entries -->
        <!-- Application's widget has to be registered as receiver to get updates -->
       <!--  <receiver 
            android:icon="@drawable/ic_launcher"
            android:label="@string/widget_name"
            android:name=".Widget.Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.fdesousa.android.WheresMyTrain.Widget.Update" />
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        Naming the update service for the widget
        <service android:name=".Widget.UpdateWidgetService"
            android:process=":com.fdesousa.android.WheresMyTrain.Widget.Updater" >
        </service>

		Configuration activity for the widget
        <activity
            android:name=".Widget.Config.Lines"
            android:label="@string/line" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

		Secondary activity, also for configuration of the widget
        <activity android:name=".Widget.Config.Stations"
            android:label="@string/station" >
        </activity> -->
        <!-- Widget not yet implemented fully, so just leave out its entries for now -->
<!-- End of Widget-related entries -->
    </application>

</manifest>